/* Body */
html,
body {
  height: 100%;
  background-color: #e0e0e0;
  width: 100%;
  margin: 0;
  font-family: 'Ubuntu', 'sans-serif';
}

/* Loader */

#loader-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 999;
  background-color: #f3f3f3;
}
.hidden {
  animation: hide 1s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  100%{
    opacity: 0;
    display: none;
    z-index:-999;
  }
}

#loader-icon {
  height: 70px;
  position: relative;
  width: 70px;
  border-radius: 50%;
  border: 12px solid #f3f3f3;
  border-top-color: #444444;
  border-right-color: #444444;
  border-left-color: deeppink;
  border-bottom-color: deeppink;
  animation: loader 1s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header section */
#logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 1%;
}

#logo-link {
  margin-left: 1%;
}

#login {
  margin-right: 2%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rosybrown;
  height: 8vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* Main section */
main {
  height: 100%;
  width: 100%;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}
.form-check {
  margin-bottom: 4%;
}

#contact-btn {
  margin-top: 4%;
}

.star-rate {
  color: orange;
}

/* Footer section */
footer img {
  height: 20px;
  width: 22px;
}

#contact {
 margin-left: 2%;
}

#social {
  order: 1;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rosybrown;
  height: 8vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright {
  margin-top: 1%;
}

/* Media queries */
@media only screen and (max-width:575px){
  header {
    height: 10%;
  }

  footer {
    height: 8%;
  }

  #copyright {
    font-size: 11px;
    margin: auto;
  }

  #contact {
    margin-left: 0;
    height: 80%;
    width: 20%;
    font-size: 12px;
    padding: 0;
  }    
}