#list-view img {
  height: 200px;
  width: 250px;
}

#list-view > div {
  margin: 2%;
  background-color: lightgrey;
  width: 40%;
}

#list-view > div:hover {
  background: rosybrown;
}

#list {
  width: fit-content;
  margin: 2% auto;
}

#list ul {
  padding: 0;
  padding-inline-start: 0;
}

#list-view {
  height: 100vh;
}

#map-view {
  height: 100vh;
  width: 100%;
}

.hotel-card div {
  margin: 0;
}

.hotel-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  float:left;
}

.hotel-card > *:last-child {
  margin-left: 2%;
}

.hotel-card div:first-child {
  object-fit: cover;
}

/* Media Queries */

/* Small screens */
@media only screen and (max-width: 575px) {
  #list-view {
    width: 100%;
    height: 100%;
    /* The following two lines create the problem  ( Same for the media queries for medium screens ) */
    display:flex;
    flex-direction: column;
  }

  main {
    margin-top: 10%;
    overflow: auto;
  }

  main > div:first-child {
    margin-bottom: 8%;
    padding-bottom: 15%;
  }

  .hotel-card {
    flex-direction: column;
    float: none;
    width: 100%;
    flex-wrap: nowrap;
  }

  .hotel-desc {
    width: 100%; 
  }

  #list-view img {
    height: 200px;
    width: 100%;
  }

  #list-view > div {
    margin: 2%;
    width: 90%;
  }

  #map-view {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  #lalit-card {
    float: none;
    margin:auto;
  }
}

/* Medium sized screens */
@media only screen and (min-width:576px) and (max-width: 768px) {
  #list-view {   
    width: 100%;
    height: 100%;
    /* The following two lines create the problem */
    display:flex;
    flex-direction: column;
  }

  main {
    margin-top: 10%;
    overflow: auto;
  }

  main > div:first-child {
    margin-bottom: 8%;
    padding-bottom: 15%;
  }

  .hotel-card {
    flex-direction: row;
    justify-content: center;
    float: none;
    width: 100%;
    flex-wrap: nowrap;
  }

  .hotel-desc {
    width: 100%; 
  }

  .hotel-card > div:first-child {
    width: 70%;
  }
  #list-view img {
    height: 200px;
    width: 100%;
  }
  #list-view > div {
    margin: 2%;
    width: 90%;
  }

  #map-view {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  #lalit-card {
    float: none;
    margin: auto;
  }
}